# Cloudflare
# Pages project name (e.g. npm-registry)
CF_NAME=your_cloudflare_pages_project_name
# API token
CF_TOKEN=your_cloudflare_token
# Account ID (not email)
CF_ACCOUNT=your_cloudflare_account_id
