# EdgeOne
# Project name
EO_NAME=your_edgeone_project_name
# API token
EO_TOKEN=your_edgeone_token

# Cloudflare
# Worker name
CF_NAME=your_cloudflare_worker_name
# API token
CF_TOKEN=your_cloudflare_token
# Account ID (not email)
CF_ACCOUNT=your_cloudflare_account_id
